
<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>

<table align="center" >
  <caption>My Monthly Budget</caption>
  <tr>
    <th>Iteams</th>
    <th>Expenses</th> 
  </tr>
  
  <tr>
    <td><i class="fa fa-car"></i>Transport</td>
    <td> R720</td>
    
  </tr>
  <tr>
    <td> <img src="images/shopping.png" alt="shopping" width="20" height="20" > Food</td>
    <td>R1000</td>
  </tr>
  <tr>
    <td>  <img src="images/bitcoin-pocket-or-wallet.png" alt="Pocket" width="20" height="20" > Pocket Money</td>
    <td>R280</td>
    
  </tr>
  <tr>
    <td><i class="fa fa-money"></i>Total Amount</td>
    <td>R2000</td>
  </tr>
</table>